.sectionAbout {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4em 0em 4em 0em;
}

.container {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitleSection {
    color: #67DCFF;
    margin: 30px 0px 5px 30px;
}

.titleSection {
    color: rgb(29, 0, 172);
    margin: 5px 0px 5px 20px;
}

.pSection {
    color: #646464;
    margin: 12px 0px 0px 20px;
    width: 50vw;
    font-size:larger;
}

.buttonContainer {
    margin: 12px;
    margin-left: 20px;
}

.containerImage {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerImage:hover {
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    transition-duration: 0.3s;
    cursor: pointer; 
}
