.sectionServices {
background-color: whitesmoke;
padding: 4em 0em 4em 0em;
}

.sectionTitle {
    color: #67DCFF;
    padding-top: 12px;
}

.sectionSubtitle {
    color: rgb(29, 0, 172);
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card:hover{
    background-color: #67DCFF;
    color: white;
    transition: 0.5s;
    border-color: white;
    cursor:pointer;
}