.formContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

h5 {
    margin: 25px 30px;;
}

.formGroup{
    margin:10px;
}

.rowForm {
    display: flex;
    flex-direction: row;
}

.containerButton{
    display:flex;
    justify-content: end;
    margin-right: 10px;
}