.navBar {
    display: flex;
    flex-direction: row;
    margin-top:10px;
}

.liNavBar {
    color: rgba(57, 17, 69, var(--tw-text-opacity));
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.43;
    margin: 8px;
    align-content: center;

}

.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fafafa;
    color: rgba(57, 17, 69, var(--tw-text-opacity));
    padding: 10px;
}

.logo{
    width: 180px;
}
