.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    color: rgba(57, 17, 69, var(--tw-text-opacity));
    padding: 10px;
    align-items: center;
    margin: 0px 10px;
}

.logo{
    width: 180px;
}

.button-agendar-turno{
    display:flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
}
