.circleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #67DCFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color:white;
  }

  .circle:hover {
    background-color: #00c3ff;
 color:white;
 transition: 0.5s;

  }
  
  .circleText {

    justify-content: center;
  }

  .circleSpan {
    padding-left: 3em;
  }

  @media (max-width: 768px) {
    .circleContainer {
    min-width: fit-content;
    }
}