.h1Home{
    color: rgba(57, 17, 69, var(--tw-text-opacity));
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.43;
    margin: 15px;
    display:flex;
    justify-content: center;
}

.pHome {
    display:flex;
    justify-content: center;
    margin: 10px;
    line-height: 1.5;
    font-size: 18px;
}

.buttonContainer{
    display: flex;
    justify-content:center;
    margin: 20px;
}

.crearCuentaDiv{
    display: flex;
    justify-content: center;
    text-align: center;
}
