.h1Home{
    color: rgba(57, 17, 69, var(--tw-text-opacity));
    text-decoration: none;
    font-size: 1.9vw;
    font-weight: 600;
    line-height: 1.43;
    margin: 15px;
    display:flex;
    justify-content: center;
}

.pHome {
    display:flex;
    justify-content: center;
    margin: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonHome{
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: rgba(57, 17, 69, var(--tw-text-opacity));
    background: #d0d2d6 ;
    margin: 10px;
    padding: 10px;
    border: 0 solid #c0c3c9;
    border-radius: 1em;
    cursor: pointer;
}