.sectionFooter {
    background-color: #7428ea;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.containerSup {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    width: 1/3;
    margin: 3em;
}

.logoImg {
    width: 10em;
}

.span {
    color: whitesmoke;
    font-size: large;
    margin-left: 1em;
}

.links {
    gap: 1em;
    text-decoration: none;
    padding-top: 1em;
    margin-left: 4em;
}