.sectionFooter {
    background-color: whitesmoke;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.containerSup {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    width: 1/3;
}

.logoImg {
    width: 9em;
}

.span {
    color: gray;
    font-size: large;
    margin-left: 1em;
}